.board {
    width: 500px;
    height: 500px;
    border: 1px solid #444;
    border-bottom: none;
    .row {
      display: flex;
      height: 55px;
      &:last-child{
        border-bottom: none;
        height: 50px;
      }
      .cell {
        border-right: 1px solid #444;
        width: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #444;
        &.open{
          background-color: #d4d4d4;
          &:hover {
            background-color: #d4d4d4;
          }
        }
        &:hover {
          background-color: #eeeeee;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }